$visual-grid: true;
$gutter: 0em;
$grid-columns: 4;


@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

* {
  box-sizing: border-box;
}

body {
  background-color: green;
}


.container {
  @include outer-container(240px);
  margin-top: 200px;
  background-color: aqua;
}

.chrome {
  width: 100%;
  height: 30px;
  background-color: gray;
}

.display {
  width: 100%;
  height: 100px;
  background-color: RGBA(224, 224, 224, 1);
}

button {
  width: 60px;
  height: 60px;
}




.keypad {
  @include outer-container;
  @include span-columns(4);
  width: 100%;
  padding: 0px;
  height: 300px;
}

.clrpercent,
.number, {
  @include span-columns(1);
}

.zero {
  @include span-columns(2);
}


/* .buttons-row-1,
.buttons-row-2,
.buttons-row-3,
.buttons-row-4,
.bottom-row {
  @include span-columns(4);
  @include row(1);
  @include omega();
  display: inline-block;
}

 .bottom-row {

   @include span-columns(9);
   @include omega(auto);
   @include row(1);
   display: inline-block;
 }

.zero {
  @include span-columns(3 of 7);
  display:inline-block;
}

.decimal {
  @include span-columns(2 of 7);
}

.equals {
  @include span-columns(2 of 7);
}
 */
